{erl_opts, [debug_info]}.

{deps, []}.

{shell,
 % {config, "config/sys.config"},
 [{apps, [lab1]}]}.

{dialyzer, [
    {flags, ["-Werror_handling", "-Wunmatched_returns", "-Wunderspecs", "-Wspecdiffs", "-Woverspecs", "-Werror"]},
    {plt_extra_apps, []}
]}.

{eunit_opts, [no_tty, {timeout, infinity}]}.

{project_plugins, [rebar3_format]}.
