name: Erlang CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:

  test:

    runs-on: ubuntu-latest

    container:
      image: erlang:22.0.7

    steps:
    - uses: actions/checkout@v4
    - name: Compile
      run: rebar3 compile
    - name: Format
      run: rebar3 format
    - name: Dialyze
      run: rebar3 dialyzer
    - name: Run tests
      run: rebar3 do eunit, ct
